Thumbs.db
*.obj
*.bak
*.plg
*.sbr
*.obj
*.dep
*.pdb
*.ilk
*.idb
*.log
*.bsc
*.user
*.suo
*.exe
*.scc
*.aps
*.clw
*.pch
*.html
*.cgi
*.xls
*.dat
*.mdl
*.opml
*.cer
*.lst
*.orig
*~
dist/
setting/
memo/
work/
RCS/
*[Dd]ebug*/
*[Rr]elease*/